.login-email {
    background-color: #488aff;
    .logo {
        width: 100%;
        .logo-icon {
            text-align: center;
            font-size: 40px;
            padding-top: 30%;
            color: white;
        }
    }
}
