.page-home {
    background-color: #2874f0;
    background-size: 100%;
    .logo {
        width: 100%;
        .logo-icon {
            text-align: center;
            font-size: 40px;
            padding-top: 30%;
            color: white;
        }
    }
}
